
#div2{
    position: relative;
    transition-property: transform,position;
transition-duration: 3s;
transition-delay: 0s;
}
    #div5{
        
position: relative;
top:300px;
left:840px;
    }
    #div5:active + #div2
    {
        position: relative;
    transform:translate(600px,0px);
    }
    
    #div5:inactive + #div2{
        position: fixed;
    }