.outer{
    background-color: blue;
    padding:10px;
    
}
.inner{
    height:30px;
    margin:10px;
    width: 30px;
    background-color: gray;
    color:white;
    font-size: 20pt;
}
#div4{
    position:fixed;
    top:10px;
    left:0px;
}

