.sidebar{
    padding: 20px;
    display: inline-block;
    background-color: lightgray;
    height:100%;
width:20%;
}
html{
    height:100%;
}
body{
    margin: 0;
    padding: 0;
    white-space: nowrap;
    height: 100%;
}
.content{
    padding: 20px;
    display: inline-block;
    background-color: bisque;
    height: 100%;
    width: 60%;
}
@media (max-width:500px){
    .sidebar,.content{
display: block;
width:100%;
height:auto;
    }

}